.modal {
    position: fixed;
    z-index: 1;
    width: 400px;
    height: 200px;
    top: 30%;
    left: 50%;
    margin-left: -200px;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: rgb(31, 31, 31);
    color: white;
    border-radius: 1em;
}

.modalText{
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: auto;
}

.modalButton {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-top: 1em;
    padding: 5px;
    width: 10em;
    border: none;
    border-radius: 1em;
  }