.App {
  text-align: center;
}

.header {
  background-color: yellowgreen;
  padding: 2em;
}

h1 {
  margin: 0;
  color: white;
}

.questionContainer {
  text-align: center;
  background-color: yellowgreen;
  border-radius: 2em;
  width: 70%;
  max-width: 300px;
  margin: auto;
  margin-top: 1em;
  padding: 2em;
  padding-bottom: 5em;
}

.question-section {
  background-color: whitesmoke;
  padding-bottom: 2em;
  border-radius: 2em;
}

.current-question {
  background-color: white;
  border-radius: 2em 2em 0 0;
  line-height: 3em;
}

.question-text {
  padding: 2em 1em 0 1em;
}

.answer-section {
  margin-top: 2em;
}

.regButton {
  display: flex;
  position:relative;
  min-height:40px;
  min-width: 100%;

  padding-left: 2em;
  padding-bottom:10px;
  border: 0em;
  border-radius: 1em;
  margin-bottom: 1em;
  line-height: 2em;
}